# I used python3.8

# Windows
--find-links https://download.pytorch.org/whl/cu102/torch_stable.html
torch==1.10.1+cu102
--find-links https://download.pytorch.org/whl/cu102/torch_stable.html
torchvision==0.11.2+cu102
--find-links https://download.pytorch.org/whl/cu102/torch_stable.html
torchaudio===0.10.1+cu102

docopt
pyyaml
numpy
matplotlib
tqdm
Pillow
tensorflow
scipy